/* !-----------------------------------------------------  header start  -----------------------------------------------------------------------------------*/
.header-div {
  width: 100%;
  height: 100%;
}

.first-header-div {
  width: 100%;
  height: 100%;
  background-color: darkblue;
  display: flex;

}

.logo-div {
  margin-left: 5%;
  margin-right: 10%;
  /* border: 2px solid blue; */
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid violet; */
}

.logo-img {
  height: 100%;
  width: 100%;
}

.serch-div {
  margin-top: 2%;
  margin-right: 10%;
  /* border: 2px solid blue; */
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serch-div i{
  font-size: 100%;
  color: black;
}

.first-header-div input {
  width: 80%;
  height: 100%;
  border: 4px solid black;
  margin-top: 0%;
}

.header-icon-div {
  margin-top: 2%;
  /* border: 2px solid blue; */
  width: 15%;
  height: 100%;
  justify-content: space-around;
  display: flex;
}

.header-icon-div i {
  font-size: 100%;

}

.second-header-div {
  width: 100%;
  height: 100%;
  background-color: cyan;
  justify-content: center;
  display: flex;
  align-items: center;
}

.link-div {
  justify-content:space-between;
  display: flex;
  width:80%;
}



.link-div a {
  font-family: Relief, sans-serif;
  font-size: 100%;
  text-decoration: none;
}

/*!------------------------------------------------------ header-end --------------------------------------------------------------------------------------------------- */

/*------------------------------------------------------- section start ----------------------------------------------------------------------------------------------------*/

.my-container {
  background: url("../Images/nightlife-momentum-hc-3840x2400.jpg");
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 10%;
}

/*  content 1 start */
.carousel-div {
  width: 100%;
  height: 600px;
  /* border: 2px solid blue; */
}

#rdr2-img {
  width: 100%;
  height: 100%;
}

#gta-img {
  width: 100%;
  height: 100%;
}

/*  content 1 end */

/*  content2 start */
.title-div {
  margin-left: 10%;
}

.min-news-div {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.news-img-div {
  margin: 0 auto;
  margin-top: 5%;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.news-img {
  width: 25%;
  height: 100%; 
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.news-img img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.news-img:hover{
  width: 30%;
  height: 30%;
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

.mid-section-div {
  border-radius: 10%;
  height: 100%;
  background: url("../Images/5HHCJ66SLJEODI6PHQ7LW2GYL4.jpg");
  width: 85%;
  padding-bottom: 5%;
  margin: 0 auto;
}

.mid-section-text1 {
  width: 100%;
  height: 100%;
  /* border: 2px solid blue; */
}

.mid-section-text1 h1 {
  height: 100%;
  width: 100%;
  margin-left: 7%;
}

.mid-section-text2 h6 {
  font-size: 100%;
  margin-left: 10%;
}

.mid-section-text3 {
  width: 50%;
  height: 100%;
  /* border: 5px solid blue; */
  margin-top: 40%;
  font-size: 100%;
}

.mid-section-text3 h1 {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-weight: bolder;
}
/*  content 2 end */

/*  content 3 start */

.released-games {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.like-games-tittle {
  margin-left: 5%;
}

.released-games h3 {
  color: rgb(112, 223, 155);
  font-size: xx-large;
}

.col-4 img {
  border-radius: 10%;
  width: 70%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.col-4 img:hover{
  width: 80%;
  height: 100%;
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

/* content 3 end */

/*------------------------------------------------------   section end -----------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------- footer css start-----------------------------------------------------------------------------------------------------------*/
.back-div {
  width: 100%;
  height: 100%;
  background-color: darkgray;
}

.back-div a {
  text-decoration: none;
}

.back-div i {
  margin-left: 50%;
}

.backup-div {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.backup-div h1 {
  font-size: x-large;
}

#title-col {
  width: 20%;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#title-col h1{
  width: 100%;
  font-style:oblique;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#title-col p{
  font-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#help-div{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}


.help-div1,.help-div2{
  width: 10%;
  height: 100%;
}

#help-div a {
  text-decoration: none;
}

#help-div h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100%;
  color: beige;
}

#footer-logo-div {
  align-self:flex-end;
  justify-content: flex-end;
  margin-top: 100%;
  font-size: xx-large;
  margin-left: 3%;
}

/* --------------------------------------------------footer content2 -------------------------------------------------------*/

/*---------------------------------------------------------foter css end ------------------------------------------------------------------------------------------------------------------*/




                                   /*---------------------------NEWS CSS START--------------------*/
/*--------------------------------------------------------------NEWS CSS ---------------------------------------------------------------------------------------------------*/
                                 /*--------------------------NEWS CSS START -----------------------*/

.my-container-2 {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  background: url(../Images/nightlife-momentum-hc-3840x2400.jpg);
}

.Main-news-div {
  margin-top: 10%;
  width: 70%;
  height: 80%;
  margin: 0 auto;
  border: 3px solid transparent;
}

.main-news-div {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  margin-bottom: 5%;
  display: flex;
}

.news-text-div {
  width: 40%;
  height: 100%;
  margin-left: 10%;
}

.news-text-div h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.news-text-div p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-news-img-div {
  height: 100%;
  width: 40%;
}
.main-news-img-div img {
  height: 100%;
  width: 100%;
}

                                 /*--------------------------- NEWS CSS END--------------------*/
/*-------------------------------------------------------------- NEWS CSS ---------------------------------------------------------------------------------------------------*/
                                   /*--------------------------NEWS CSS END -----------------------*/







                                  /*---------------------------CONTACT CSS START--------------------*/
/*--------------------------------------------------------------CONTACT CSS ---------------------------------------------------------------------------------------------------*/
                                  /*--------------------------CONTACT CSS START -----------------------*/
.my-container-3 {
  width: 100%;
  height: 100%;
  background: url(../Images/nightlife-momentum-hc-3840x2400.jpg);
}

.main-contact-div {
  width: 70%;
  height: 100%;
  background-color: antiquewhite;
  margin: 0 auto;
}

.main-contact-title-div {
  width: 50%;
  height: 10%;
  margin: 0 auto;
}

.main-contact-title-div h1{
  width: 100%;
  height: 10%;
  margin: 0 auto;
}

.contact-map-div {
  height: 90%;
  width: 100%;
  display: flex;
  margin-top: 7%;
}

.contact-information {
  width: 70%;
  height: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  /* border: 2px solid red; */
}

.contact-information h3 {
  font-size: large;
  font-weight: 900;
}


.map-div{
  max-width: 20px;
  max-width: 750px;
  min-height: 20px;
  max-height: 650px;
  /* border: 2px solid blue; */
}

.map-div iframe{
  width: 100%;
  height: 70%;
}

.contact-information-min-div{
 width: 100%;
 height: 100%;
 display: flex;
 /* border: 2px solid blue;    */
}

                               /*---------------------------CONTACT CSS START--------------------*/
/*--------------------------------------------------------------CONTACT CSS ---------------------------------------------------------------------------------------------------*/
                              /*--------------------------CONTACT CSS START -----------------------*/
