/* !-----------------------------------------------------  header start  -----------------------------------------------------------------------------------*/ 
.header-div{
  width: 100%;
  
}

.first-header-div{
  width: 100%;
  height: 130px;
  background-color: darkblue;
  display: flex;
  justify-content: space-around;
}

.logo-div{
  height: 40%;
  width: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid violet; */
}

.logo-img{
margin-top: 30%;
 min-height: 5px;
 max-height: 60px;
}

.serch-div{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first-header-div input{
  width:100%;
  height: 20%;
}

.header-icon-div{
  width: 15%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.header-icon-div a {
  font-size: 34px;
  margin-left: 5%;
}


.second-header-div{
  background-color: cyan;
  justify-content: center;
  display: flex;
  align-items: center;
}

.link-div{
  justify-content: space-between;
    display: flex;
    width: 27%;
 }
 
 .link-div div{
  margin-left: 10%;
 }
 
 .link-div a{
  font-family: Relief, sans-serif;
  font-size: 150%;
  text-decoration: none;
 }





/*!------------------------------------------------------ header-end --------------------------------------------------------------------------------------------------- */






/*------------------------------------------------------- section start ----------------------------------------------------------------------------------------------------*/


.my-container{
  background: url("../Images/nightlife-momentum-hc-3840x2400.jpg");
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 10%;
 }

/*  content 1 start */
.carousel-div{
  width: 100%;
  height: 600px;
  /* border: 2px solid blue; */
}

#rdr2-img{
 width: 100%;
 height: 100%;
}

#gta-img{
 width: 100%;
 height: 100%;
}

#img-re2{
 width: 100%;
 height: 100%;
}
/*  content 1 end */


/*  content2 start */
.title-div{
  margin-left: 10%;
}

.min-newsdiv{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.news-img-div{
  margin: 0 auto;
  margin-top: 5%;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.news-img{
  width: 25%;
  height: 100%;
 
}

.news-img img{
  width: 100%;
  height: 100%;
 
}

.mid-section-div{
  height: 100%;
  background: url("../Images/5HHCJ66SLJEODI6PHQ7LW2GYL4.jpg");
  width: 85%;
  padding-bottom: 5%;
  margin: 0 auto;
}

.mid-section-text2 h1{
  font-size: 100%;
}

.mid-section-text3 {
  margin-top: 35%;
 font-size: x-large;
}

.mid-section-text3 h1{
  font-size: 100%;
}
/*  content 2 end */


/*  content 3 start */

.released-games{
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.like-games-tittle{
  margin-left: 5%;
}


.released-games h3{
  color: rgb(112, 223, 155);
  font-size: xx-large;
}

.col-4 img{
  width: 70%;
  height: 100%;
}


/* content 3 end */




/*------------------------------------------------------   section end -----------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------- footer css start-----------------------------------------------------------------------------------------------------------*/
.back-div{
width: 100%;
height: 100%;
background-color: darkgray;
}

.back-div a{
  text-decoration: none;
}
  

.back-div i{
  margin-left: 50%;
}
  

.backup-div{
  width: 100%;
  height: 100%;
   justify-content: center;
   align-items: center;
   display: flex;
}

.backup-div h1{
  font-size: x-large;
}

#help-div a{
  text-decoration: none;
}

#footer-logo-div{
  justify-content: space-around;
  font-size: xx-large;
}

/* --------------------------------------------------footer conten2 -------------------------------------------------------*/


/*---------------------------------------------------------foter css end ------------------------------------------------------------------------------------------------------------------*/




                            /*---------------------------NEWS CSS START--------------------*/
/*--------------------------------------------------------------NEWS CSS ---------------------------------------------------------------------------------------------------*/
                            /*--------------------------NEWS CSS START -----------------------*/

.my-container2{
  width: 100%;
  height: 100%;
  background-color: aquamarine;
   background: url(../Images/purple-gaming-nepi2tnxp6g0mvz9.jpg);
}

.Main-news-div{
  width: 60%;
  height: 100%;
  margin: 0 auto;
  border: 3px solid blue;
}

.main-news-div{
  width: 100%;
  height: 10%;
  background-color: aliceblue;
  margin-bottom: 5%;
  border: 2px solid violet;
}

.main-news-img-div{
  height: 100%;
  width: 35%;
  border: 2px solid violet;
}
.main-news-img-div img{
  height: 100%;
  width: 100%;
  
}





                          /*--------------------------- NEWS CSS END--------------------*/
/*-------------------------------------------------------------- NEWS CSS ---------------------------------------------------------------------------------------------------*/
                            /*--------------------------NEWS CSS END -----------------------*/



                            