/* !-----------------------------------------------------  header start  -----------------------------------------------------------------------------------*/ 
.header-div{
  width: 100%;
  display: flex;
}


.logo-div{
  height: 40%;
  /* border: 2px solid violet; */
}

.logo-img{
 min-height: 60px;
 max-height: 100px;
}

.carousel{
    width: 45%;
    height: 100%;
   margin-left: 10%;
}



.section-div{
  justify-content: space-between;
    margin-left: 2%;
    display: flex;
    width: 27%;
}

.section-div a{
  font-family: Relief, sans-serif;
  font-size: 150%;
	text-decoration: none;
}


/*!------------------------------------------------------ header-end --------------------------------------------------------------------------------------------------- */






/*------------------------------------------------------- section start ----------------------------------------------------------------------------------------------------*/
.my-container{
  
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}



/*------------------------------------------------------section end -----------------------------------------------------------------------------------------------------*/